.divClass {
    padding: 50px 0;
}

.header1 {
    color: blue;
    margin-bottom: 50px;
    font-weight: bold;
}

.wrapperClass {
    flex-wrap: wrap;
    background-color: lightblue;
}

.paragraphs {
    color: gray;
    font-size: 25px;
    padding-top: 20px;
}
.numbers {
 padding: 0px 0px;
}
.button1 {
    padding: 6px 140px;
    border-radius: 15px;
    background-color: yellow;
    color: darkslategrey;
    font-weight: bolder;
    border: 1px solid darkslategrey;
    font-size: 33px;
    margin-top: 40px;
    margin-left: 85px;
}