*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../images/qeveria.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.main{
  display: flex;
}
.register-form{
  background-color: white;
  border-radius: 8px;
  width: 450px;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.register-input{
  width: 250px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.signup-button{
  width: 250px;
  height: 30px;
  background-color: yellow;
  border: none;
  border-radius: 4px;
}
.link{
  font-size: 13px;
  color: black;
}