.form-container{
    text-align: center;
    margin: 200px 0px;
    border: 1px solid lightgrey;
    padding-bottom: 150px;
    width: 70%;
    height: 100%;
    margin-left: 280px;
}

.headerInfo{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 9px;
    margin-bottom: 50px;
}
.info{
    margin-left: 30px;
    margin-bottom: 25px;
}
input {
    padding: 12px 23;
    width: 35%;
    height: 40px;
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.2);
    border: 1px solid #ebe9e9;
    border-radius: 4px;
    padding: 8px;
    background-color: rgb(239, 249, 249);
}
input[type="email"]{
    margin-left: 10px;
}
input[type="password"]{
    margin-left: 60px;
}
