.text-box {
    text-align: center;
}
.wrapper2 {
    border: solid 1px blue;
    background-color: lightblue;
}
.header {
    color: blue;
}
.paragraph {
    color: gray;
}
.can1 {
    margin-right: 10px;
    padding-left: 1550px;
}
.can {
    padding-top: 70px;
}
.label1 {
    margin-right: 100px;
    margin-left: 200px;
    font-size: 26px;
    margin-bottom: 50px;
}
input[type=checkbox] {
    width: 25px;
    height: 25px;
}
.lab {
    margin-right: 53px;
    margin-left: 163px;
    font-size: 26px;
}
.lab2 {
    margin-right: 53px;
    margin-left: 403px;
    font-size: 26px;
}
.button {
    padding: 6px 140px;
    border-radius: 15px;
    background-color: yellow;
    color: darkslategrey;
    font-weight: bolder;
    border: 1px solid darkslategrey;
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 350px;
}